*{
  box-sizing:border-box;
}
h1{
  text-align:center;
}
.p1,.p2{
  background-color: gray;
}
.p3{
  background-color: gray;
}
p{
  margin:10px 1px 10px;
  font-family:arial  helvetica;
  padding: 30px 5px 0 10px;
  position: relative;
}
.row{
  width :100%;
}
@media (min-width:992px){
  .col-lg-4{
    float : left;
    }

    .col-lg-4{
      width : 33%;
      padding: 100px 20px 0 20px;
    }

}
@media (min-width:768px) and (max-width:991px){
  .col-md-6{
    float:left;
    width:50%;
    padding: 100px 20px 0 20px;
  }
  .col-md-12{
    float : left;
    width:100%;
    padding: 0px 20px 0 20px;
  }
}
span{
  width:120px;
  float : right;top:0;right:0;margin:0;
  border:2px solid black;
  font-size: 20px;
  text-align : center;
  font-weight: bold;
  position: absolute;
}
#label1{
  background-color:powderblue;
}
#label2{
  background-color: purple;
}
#label3{
  background-color: red;
}
